body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}
.df{
  display: flex;
}
.aic{
  align-items: center;
}
.jcsb{
  justify-content: space-between;
}
.tal{
  text-align: left;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.bd{
  border: 1px solid #000;
}
.m0{
  margin: 0;
}
.p0{
  padding: 0;
}
.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.appOrangeColor{
  color: #D55E2D;
}

.customOrangeBtn{
  background: #D55E2D;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: normal!important;
}

.orange-color{
  color: #D55E2D;
}

/*  Red Orange = #D55E2D */
/*  Royal Blue = #2F5D8C */
