/* slick-dots */
/* .slick-dots li{    
    border-radius: 50%;
    background: #2F5D8C;    
}
.slick-dots li button::before{    
    
} */

/* slick-active */
.cust-dot{
    width: 14px;
    height: 14px;
    background: #ECECEC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 10px;
}
.slick-active .cust-dot{
    width: 14px;
    height: 14px;
    background: #2F5D8C;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 10px;
}